<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/producto/list">PRODUCTOS</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/alumno/list">ALUMNOS</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/menu/list">MENU</a>
        </li>
    </ul>
</nav>