.table thead tr th{
    background-color: darkorchid ;
}
body{
    background-color: aquamarine;
    font-family: 'Macondo', cursive;
}

table{
    background-color: beige;
}

.table thead tr{
    font-family: 'Macondo', cursive;
}

.div h1{
    font-family: 'Macondo', cursive;
}
h1 {
font-size: 36px;
color: #000;
font-family: 'Open Sans';
}