body{
    background-color: darkblue;
}
.contenedor{
    background-color: white;
}
/* tabla ocupe todo el ancho de la pantalla, que tenga borde, quitamos el doble borde */
table{
    width: 100%;
    border: 4px solid darkorange;
    border-collapse: collapse;
}
thead th, tbody td{
    border: 4px solid darkcyan;
}
/* aumentar el tamaño del th, alinear los datos del th en el centro y superior, color de fondo al th y un color de letra al th */
th{
    height: 50px;
    text-align: center;
    vertical-align: top;
    background-color: orange;
    color: gainsboro;
}
/* agregamos un fondo y color a la letra cada vez que pasemos por una fila */
table tbody tr:hover{
    background-color: black;
    color: white;
}
/* aplicamos estilos para la tabla1 */
.tabla1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid red;
}
.tabla1 td, .tabla1 th{
    border: 1px solid greenyellow;
}
.tabla1 th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: darkgreen;
    color: white;
}
.tabla1 tr:hover{
    background-color: goldenrod;
    color: white;
}