body{
    background-color: darkblue;
}
.contenedor{
    background-color: white;
    margin: auto;
}
/* Existen varios tipos de bordes que se pueden aplicar dentro de los cuales tenemos: dotted; dashed, solid, double, groove, ridge, inset, outset, none, hidden */
.borde1{
    border-style: dotted;
}
.borde2{
    border-style: dashed;
}
.borde3{
    border-style: solid;
}
.borde4{
    border-style: double;
}
.borde5{
    border-style: groove;
}
.borde6{
    border-style: ridge;
}
.borde7{
    border-style: inset;
}
.borde8{
    border-style: outset;
}
.borde9{
    border-style: none;
}
.borde10{
    border-style: hidden;
}

/* Agregar un borde combinado
cuando queremos borders cominados la sintaxis seria la siguiente:
border-style: (arriba y abajo) (izquierda y derecha);
border-style: (arriba) (izquierda y derecha) (abajo);
border-style: (arriba) (derecha) (abajo) (izquierda) */
.borde11{
    border-style: dotted dashed;
}
.borde12{
    border-style: dotted dashed solid;
}
.borde13{
    border-style: dotted dashed solid double;
}
/* Observacion: la sintaxis utiloizada para los bordes es aplicabla a otros estilo */
/* cambiando el ancho del borde */
.borde14{
    border-style: solid;
    border-width: 10px;
}
.borde15{
    border-style: solid;
    border-width: 5px 10px;;
}
.borde16{
    border-style: solid;
    border-width: 5px 10px 15px;
}
.borde17{
    border-style: solid;
    border-width: 5px 10px 15px 20px;
}
.borde18{
    border-style: solid;
    border-width: medium;
}
/* cambiando el color del borde */
.borde19{
    border-style: dashed;
    border-color: blue;
    border-width: 5px;
}
.borde20{
    border-style: dashed;
    border-color: blue yellow;
    border-width: 5px;
}
.borde21{
    border-style: dashed;
    border-color: blue yellow red;
    border-width: 5px;
}
.borde22{
    border-style: dashed;
    border-color: blue yellow red green;
    border-width: 5px;
}
/* aplicamos bordes a lugares especificos
top--> superior
bottom -->inferior
left -->izquierda
right -->derecha
 */

.borde23{
    border-top-style: dotted;
    border-width: 5px;
}
.borde24{
    border-bottom-style: dotted;
    border-width: 5px;
}
.borde25{
    border-left-style: dotted;
    border-width: 5px;
}
.borde26{
    border-right-style: dotted;
    border-width: 5px;
}

/* aplicamos bordes redondeados */
.borde27{
    border-style: solid;
    border-width: 15px;
    border-radius: 15px;
}
.borde28{
    border-style: solid;
    border-width: 15px;
    border-radius: 10px 15px;
}
.borde29{
    border-style: solid;
    border-width: 15px;
    border-radius: 10px 15px 25px;
}
.borde30{
    border-style: solid;
    border-width: 15px;
    border-radius: 10px 15px 20px 25px;
}