/* Los vinculos o enlaces presentan varios estados de los cuales tenemos:
link: el vinculo normal
visited: cuando ha sido visitado
active: cuando le das click
hover: cuando esta sobre */
/* para el vinculo 1 */
a.vinculo1:link{
    color: chartreuse;
}
a.vinculo1:visited{
    color: coral;
}
a.vinculo1:active{
    color: darkblue;
}
a.vinculo1:hover{
    color: red;
}
/* para el vinculo 2 */
a.vinculo2:link{
    text-decoration: none;
}
a.vinculo2:hover{
    text-decoration: none;
}
a.vinculo2:visited{
    text-decoration: none;
}
a.vinculo2:active{
    text-decoration: none;
}
/* para el vinculo 3 parezca un boton */
a.vinculo3:link,a.vinculo3:visited{
    background-color: green;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
a.vinculo3:hover,a.vinculo3:active{
    background-color: red;
}
/* para el vinculo 4 parezca un boton */
a.vinculo4:link,a.vinculo4:visited{
    background-color: royalblue;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
a.vinculo4:hover,a.vinculo4:active{
    background-color: black;
}