body{
    background-color: green;
}
.contenedor{
    background-color: white;
}
ul{
    background-color: cornflowerblue;
    padding: 10px;
    list-style-type: square;
    list-style-position: inside;
}
ul li{
    background-color: coral;
    margin: 3px;
}
ul li ul{
    background-color: cyan;
    padding: 10px;
    list-style-type: circle;
    list-style-position: outside;
}
ul li ul li{
    background-color: darkkhaki;
    margin: 3px;
}
ul li ul li ul{
    background-color: blueviolet;
    padding: 10px;
    list-style-type: disc;
    list-style-position: inside;
}
ul li ul li ul li{
    background-color: gold;
}