.fa-facebook{
    font-size: 25px;
    color: #1877f2;
}
.fa-youtube{
    font-size: 25px;
    color: #ff0000;
}
.fa-instagram{
    font-size: 25px;
    color: #e1306c;
}
.fa-github{
    font-size: 25px;
    color: #6e5494;
}
.fa-whatsapp{
    font-size: 25px;
    color: #25d366;
}
.fa-linkedin{
    font-size: 25px;
    color: #0077b5;
}
.fa-tiktok{
    font-size: 25px;
    color: #000000;
}